### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [44]:
#Display of unique players
players_count = len(purchase_data_df["SN"].unique())
players_count_view = pd.DataFrame({"Total Players": [players_count]})
players_count_view

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
# Calculate number of unique items, average price, number of purchases and total amount purchased
unique_items = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
#average_price_format = [average_price].map("${.,2f}".format)
number_purchase = purchase_data_df["Purchase ID"].count()
total_purchase = purchase_data_df["Price"].sum()

In [46]:
#print of above code in a chart
summary_pd = pd.DataFrame({"Number of Unique Items": [unique_items], 
"Average Price": [average_price], 
"Number of Purchases": [number_purchase],
"Total Revenue": [total_purchase]})
summary_pd

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [47]:
# Calculate the number of unique players based on gender and confirm percentages
gender_total = purchase_data_df.groupby("Gender")
unique_gender = gender_total.nunique()["SN"]
per_unique_gender = unique_gender/players_count * 100 
gender_pd = pd.DataFrame({"Total Count" : unique_gender, 
"Percentage of Players" : per_unique_gender})

In [48]:
gender_pd

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
# Calculate purchase count, average purchase price, total value and average purchase by gender
gender_players = purchase_data_df.groupby("Gender")
purchase_count = gender_players["Purchase ID"].count()
average_purchase = gender_players["Price"].mean()
gender_purchase = gender_players["Price"].sum()
average_gender = gender_purchase/unique_gender
demographic = pd.DataFrame({"Purchase Count" : purchase_count, 
"Average Purchase Price" : average_purchase, 
"Total Purchase Value" : gender_purchase, 
"Avg Total Purchase per Person" : average_gender})

demographic

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [50]:
# Bin of players by age and calculate percentages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=age_group)
age_bin = purchase_data_df.groupby("Age Range")
unique_age = age_bin.nunique()["SN"]
age_count = age_bin.count()
per_age_count = age_count/players_count * 100 
pd.DataFrame(data={"Age Range" : age_bin, "Total Count" : age_count, "Percentage of Players" : per_age_count})

ValueError: If using all scalar values, you must pass an index

## Purchasing Analysis (Age)

In [51]:
purchase_data_df["Age Range"]()

TypeError: 'Series' object is not callable

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# Calculate purchase count, average purchase price, purchase value, average purchase per person based on age bin
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df = pd.cut(purchase_data_df["Age"], bins, labels=age_group)
age_players = purchase_data_df.groupby("Age")
age_purchase_count = age_players["Purchase ID"].count()
age_average_purchase = age_players["Price"].mean()
age_purchase = age_players["Price"].sum()
average_age = age_purchase/unique_age
grouping_age = pd.DataFrame({"Age Ranges" : age_players, "Purchase Count" : age_purchase_count, 
"Average Purchase Price" : age_players, 
"Total Purchase Value" : age_purchase, 
"Avg Total Purchase per Person" : average_age})

KeyError: 'Age'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
# calculate top 5 players showing purchase count, average purchase price, total purchase value 
top_players = purchase_data_df.groupby("SN")
top_players()

KeyError: 'SN'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# List items purchased sort by purchase count, item price and total purchase value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort Item name by purchase value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80