### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Display of unique players

players_count = len(purchase_data_df["SN"].unique())
players_count_view = pd.DataFrame({"Total Players": [players_count]})
players_count_view

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items, average price, number of purchases and total amount purchased
unique_items = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
#average_price_format = [average_price].map("${.,2f}".format)
number_purchase = purchase_data_df["Purchase ID"].count()
total_purchase = purchase_data_df["Price"].sum()

In [4]:
#print of above code in a chart
summary_pd = pd.DataFrame({"Number of Unique Items": [unique_items], 
"Average Price": [average_price], 
"Number of Purchases": [number_purchase],
"Total Revenue": [total_purchase]})
#format
summary_pd = summary_pd.rename_axis([""])
summary_pd["Average Price"] = summary_pd["Average Price"].map("${:.2f}".format)
summary_pd["Total Revenue"] = summary_pd["Total Revenue"].map("${:,}".format)

summary_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue

0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Calculate the number of unique players based on gender and confirm percentages
gender_total = purchase_data_df.groupby("Gender")
unique_gender = gender_total.nunique()["SN"]
per_unique_gender = unique_gender/players_count * 100 
gender_pd = pd.DataFrame({"Total Count" : unique_gender, 
"Percentage of Players" : per_unique_gender})
#format
gender_pd = gender_pd.rename_axis([""])
gender_pd["Percentage of Players"] = gender_pd["Percentage of Players"].map("{:.2f}%".format)

In [6]:
gender_pd

                       Total Count Percentage of Players

Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
# Calculate purchase count, average purchase price, total value and average purchase by gender
gender_players = purchase_data_df.groupby("Gender")
purchase_count = gender_players["Purchase ID"].count()
average_purchase = gender_players["Price"].mean()
gender_purchase = gender_players["Price"].sum()
average_gender = gender_purchase/unique_gender
demographic_pd = pd.DataFrame({"Purchase Count" : purchase_count, 
"Average Purchase Price" : average_purchase, 
"Total Purchase Value" : gender_purchase, 
"Avg Total Purchase per Person" : average_gender})

#format
demographic_pd = demographic_pd.rename_axis([""])
demographic_pd["Average Purchase Price"] = demographic_pd["Average Purchase Price"].map("${:.2f}".format)
demographic_pd["Total Purchase Value"] = demographic_pd["Total Purchase Value"].map("${:,.2f}".format)
demographic_pd["Avg Total Purchase per Person"] = demographic_pd["Avg Total Purchase per Person"].map("${:.2f}".format)

demographic_pd

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Bin of players by age and calculate percentages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=age_group)
age_bin = purchase_data_df.groupby(["Age Range"])
unique_age = age_bin["SN"].nunique()
#age_count = age_bin.count()
per_age_count = unique_age/players_count * 100 
demographic_age_pd = pd.DataFrame({"Total Count" : unique_age, "Percentage of Players" : per_age_count})
#format
demographic_age_pd = demographic_age_pd.rename_axis([""])
demographic_age_pd["Percentage of Players"] = demographic_age_pd["Percentage of Players"].map("{:.2f}%".format)
demographic_age_pd

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Calculate purchase count, average purchase price, purchase value, average purchase per person based on age bin
#bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
#age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#purchase_data_df = pd.cut(purchase_data_df["Age"], bins, labels=age_group)
#age_players = purchase_data_df.groupby(["Age"])
age_purchase_count = age_bin["Purchase ID"].count()
age_average_purchase = age_bin["Price"].mean()
age_purchase = age_bin["Price"].sum()
average_age = age_purchase/unique_age
grouping_age = pd.DataFrame({"Purchase Count" : age_purchase_count, 
"Average Purchase Price" : age_average_purchase, 
"Total Purchase Value" : age_purchase, 
"Avg Total Purchase per Person" : average_age})
#format
grouping_age = grouping_age.rename_axis([""])
grouping_age["Average Purchase Price"] = grouping_age["Average Purchase Price"].map("${:.2f}".format)
grouping_age["Total Purchase Value"] = grouping_age["Total Purchase Value"].map("${:,.2f}".format)
grouping_age["Avg Total Purchase per Person"] = grouping_age["Avg Total Purchase per Person"].map("${:.2f}".format)

grouping_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
# calculate top 5 players showing purchase count, average purchase price, total purchase value 
top_count = purchase_data_df.groupby(["SN"])
top_players = top_count["SN"].count()
#top_count = top_players["SN"].count()
top_average = top_count["Price"].mean()
total_players = top_count["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count" : top_players, "Average Purchase Price" : top_average, "Total Purchase Value" : total_players})
#format
top_spenders = top_spenders.rename_axis([""])
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)
top_spenders.sort_values(["Total Purchase Value","Purchase Count"], ascending = False).head(5)

              Purchase Count Average Purchase Price Total Purchase Value

Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
# List items purchased sort by purchase count, item price and total purchase value
top_item = purchase_data_df.groupby(["Item ID"])
item_name = top_item["Item Name"].unique()
item_count = top_item["Item ID"].count()
item_average = top_item["Price"].mean()
item_total = top_item["Price"].sum()
item_spending_pd = pd.DataFrame({"" : item_name, "Purchase Count" : item_count, "Item Price" : item_average, "Total Purchase Value" : item_total})
#format
item_spending_pd = item_spending_pd.rename_axis([""])
item_spending_pd["Item Price"] = item_spending_pd["Item Price"].map("${:.2f}".format)
item_spending_pd["Total Purchase Value"] = item_spending_pd["Total Purchase Value"].map("${:,.2f}".format)
item_spending_pd.sort_values(["Purchase Count"], ascending = False).head(10)

,,Purchase Count,Item Price,Total Purchase Value
,,,,
92,"(92, [Final Critic, Final Critic, Final Critic...",13,$4.61,$59.99
178,"(178, [Oathbreaker, Last Hope of the Breaking ...",12,$4.23,$50.76
145,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",9,$4.58,$41.22
132,"(132, [Persuasion, Persuasion, Persuasion, Per...",9,$3.22,$28.99
108,"(108, [Extraction, Quickblade Of Trembling Han...",9,$3.53,$31.77
82,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",9,$4.90,$44.10
75,"(75, [Brutality Ivory Warmace, Brutality Ivory...",8,$2.42,$19.36
103,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",8,$4.35,$34.80
34,"(34, [Retribution Axe, Retribution Axe, Retrib...",8,$2.22,$17.76
37,"(37, [Shadow Strike, Glory of Ending Hope, Sha...",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort Item name by purchase value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80